@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    padding: 30px 10%;
    background-color: #eee;
}

/* Header */

hgroup h1 {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding: 0 0 30px 0;
    margin-bottom: 0;
}

hgroup h2, #about h3, #contact h3, .contact-skype, .contact-type, .experience-institution {
    display: none;
}

header img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 8%;
    right: 15%;
    transform: rotate( -15deg);
    box-shadow: 2px 0px 15px -5px #555;
}

/* Content */

#about {
    margin-top: 25px !important;
}

#about, #contact {
    display: block;
}

#about p {
    font-style: italic;
    color: #aaa;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 10%;
}

section {
    display: grid;
    grid-template-columns: 125px auto;
    grid-template-rows: auto auto;
    margin: 50px 0;
}

section h3 {
    grid-row: 1/3;
    font-style: italic;
    font-weight: bold;
    border-right: 1.5px solid #000;
    margin: 0;
}

section ul {
    color: #555;
}

/* Skills */

.skills {
    display: flex;
    margin-left: 10px;
}

.skill {
    padding: 12px 5px;
    margin: 3px;
    background-color: #008080;
    color: #fff;
    width: 150px;
    box-shadow: 0px 0 7px -3px #555;
}

.skills-secondary .skill {
    font-size: 12px;
}

.skill[data-skill='1']::after, .skill[data-skill='2']::after {
    content: '★';
    float: right;
}

.skill[data-skill='3']::after, .skill[data-skill='4']::after {
    content: '★★';
    float: right;
}

.skill[data-skill='5']::after, .skill[data-skill='6']::after {
    content: '★★★';
    float: right;
}

.skill[data-skill='7']::after, .skill[data-skill='8']::after {
    content: '★★★★';
    float: right;
}

.skill[data-skill='9']::after, .skill[data-skill='10']::after {
    content: '★★★★★';
    float: right;
}

/* Experience */

.experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    margin-left: 10px;
}

.experience-details {
    text-align: end;
}

.experience-description {
    grid-column: 1/3;
    color: #555;
    line-height: 1.5rem;
}

ul.experience-description {
    padding-left: 5%;
}

.experience h4 {
    margin-top: 0;
}

.experience h4 {
    color: #008080;
    margin-bottom: 0;
}

.experience-institution {
    font-weight: normal;
}

.experience-details {
    color: #aaa;
    margin-left: 15px;
}

.experience-date-separator {
    color: #008080;
}

/* Contact */

.contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* .contact-email {
    background-image: url(../images/email.png);
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 100px;
} */

/* .contact-phone {
    background-image: url(../images/phone.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
} */

/* .contact-github {
    background-image: url(../images/github-new.png);
    background-position: center;
    background-size: cover;
    width: 130px;
    height: 100px;
} */

/* .contact-facebook {
    background-image: url(../images/facebook.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
} */

/* Media Query */

@media screen and (max-width:767px) {
    section {
        display: block;
    }
    section h3 {
        border: none;
        margin-bottom: 40px;
    }
    section h3::after {
        content: '';
        display: block;
        width: 130px;
        height: 2px;
        background-color: black;
    }
    figure {
        display: none;
    }
    #about p {
        width: 100%;
    }
    .skills {
        margin-left: 0;
    }
    .skill {
        width: 30%;
    }
    .experience {
        margin-left: 0;
    }
    .experience-details {
        font-size: 12px;
    }
}

@media screen and (max-width:460px) {
    .skill::after {
        width: 100%;
        text-align: end;
    }
}