@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    background-color: #eee;
}

/* header */

header {
    background-color: #9e9e9e;
    padding: 10px 0 20px;
    padding-left: 10%;
    position: relative;
}

header div {
    display: flex;
}

hgroup {
    color: #d1362f;
    margin: 30px 0;
    text-shadow: 1px 0 0 #555;
}

figure {
    margin: 7px 5%;
}

figure img {
    border-radius: 50%;
    box-shadow: 2px 0px 14px -5px #555;
}

/* content */

.content {
    padding: 50px 7%;
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 50%;
    margin-bottom: 50px;
}

section h3 {
    border-bottom: 1px solid #bbb;
    padding: 0 0 10px 30px;
}

section h3::before {
    content: '';
    position: absolute;
    background-color: #d1362f;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: -30px;
}

/* contact information */

#contact {
    box-shadow: 2px 0px 14px -5px #555;
    position: absolute;
    top: 6%;
    right: 0%;
    background-color: #d1362f;
    line-height: 1.25rem;
    border-radius: 60px;
    width: 44% !important;
}

#contact h3 {
    display: none;
}

.contacts dl {
    display: flex;
    margin: 0;
}

.contacts dd {
    margin: 0;
    padding-left: 5px;
    color: #eee;
}

.contacts dd a {
    text-decoration: none;
    color: #eee;
}

.contacts dt {
    width: 130px;
    background-color: #d1362f;
    color: #eee;
    padding: 3px 0 1px 7px;
    margin-left: 60px;
    border-right: 2px solid #b32a20;
    text-align: right;
    padding-right: 5px;
}

/* experience and education */

.experience h4 {
    color: #d1362f;
    margin-bottom: 0;
}

.experience-institution {
    font-weight: normal;
}

.experience-institution::before {
    content: '@ ';
}

.experience-details {
    color: #9e9e9e;
    margin-left: 15px;
}

.experience-location::before {
    content: 'In';
}

.experience-date::before {
    content: 'On';
}

.experience-date-separator {
    color: #d1362f;
}

section p {
    margin-right: 3%;
}

/* Skills */

.skills-primary::before {
    content: 'Main';
}

.skills-secondary::before {
    content: 'Other';
    opacity: 1;
}

.skill {
    background-color: #aaa;
    padding: 5px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: 2px 0 5px -3px #555;
}

.skills-secondary .skill {
    background-color: #c4c4c4;
}

.skills-secondary span {
    opacity: 0.7;
}

.skill span {
    display: inherit;
    padding: 5px 10px;
    background-color: #d1362f;
    color: #fff;
    border-radius: 30px;
    box-shadow: 3px 0 5px -1px #555;
}

.skill[data-skill='1'] span {
    width: calc(10% - 5%);
}

.skill[data-skill='2'] span {
    width: calc(20% - 5%);
}

.skill[data-skill='3'] span {
    width: calc(30% - 5%);
}

.skill[data-skill='4'] span {
    width: calc(40% - 5%);
}

.skill[data-skill='5'] span {
    width: calc(50% - 5%);
}

.skill[data-skill='6'] span {
    width: calc(60% - 5%);
}

.skill[data-skill='7'] span {
    width: calc(70% - 5%);
}

.skill[data-skill='8'] span {
    width: calc(80% - 5%);
}

.skill[data-skill='9'] span {
    width: calc(90% - 5%);
}

.skill[data-skill='10'] span {
    width: calc(100% - 5%);
}

/* Media Query */

@media screen and (max-width:992px) {
    #contact {
        position: initial;
        background-color: transparent;
        width: 100% !important;
        box-shadow: none;
    }
    #contact h3 {
        display: block;
    }
    .contacts dd a {
        text-decoration: none;
        color: #d1362f;
    }
    .contacts dd {
        color: #d1362f;
        margin: 5px;
    }
    .contacts dt {
        background-color: #d1362f;
        margin-left: 0;
        text-align: start;
        margin: 3px;
        border-radius: 30px;
    }
    header {
        padding-left: 0;
    }
    header div {
        justify-content: space-around;
    }
}

@media screen and (max-width:767px) {
    section {
        width: 100%;
    }
}

@media screen and (max-width:575px) {
    header div {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:460px) {
    .contacts dl {
        flex-wrap: wrap;
    }
    .contacts dd {
        width: 100%;
    }
}