@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

/* header */

header {
    background-color: #aaa;
    padding-left: 10%;
    position: relative;
}

header div {
    display: flex;
}

hgroup {
    color: #ff3229;
}

/* content */

.content {
    padding: 50px 7%;
    display: flex;
    flex-wrap: wrap;
}

section {
    width: 50%;
}

section h3 {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px 30px;
}

section h3::before {
    content: '';
    position: absolute;
    background-color: #ff3229;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-left: -30px;
}

/* contact information */

#contact {
    position: absolute;
    top: 3%;
    right: 0%;
    background-color: #ff3229;
}

#contact h3 {
    display: none;
}

.contacts dl {
    display: flex;
    margin: 0;
}

.contacts dd {
    margin: 0;
    padding-left: 5px;
    color: #eee;
}

.contacts dd a {
    text-decoration: none;
    color: #eee;
}

.contacts dt {
    width: 130px;
    background-color: #b32a20;
    color: #eee;
    padding: 3px 0 1px 7px;
}

/* experience and education */

.experience h4 {
    color: #ff3229;
    margin-bottom: 0;
}

.experience-institution {
    font-weight: normal;
}

.experience-institution::before {
    content: '@ ';
}

.experience-details {
    color: #aaa;
    margin-left: 15px;
}

.experience-date-separator {
    color: #ff3229;
}

section p {
    margin-right: 3%;
}

/* Skills */

.skills-primary::before {
    content: 'Main';
}

.skills-secondary::before {
    content: 'Other';
    opacity: 1;
}

.skill {
    background-color: #aaa;
    padding: 5px;
    margin: 5px;
}

.skills-secondary .skill {
    background-color: #c4c4c4;
}

.skills-secondary span {
    opacity: 0.7;
}

.skill span {
    display: inherit;
    padding: 5px;
    background-color: #ff3229;
    color: #fff;
}

.skill[data-skill='1'] span {
    width: calc(10% - 2%);
}

.skill[data-skill='2'] span {
    width: calc(20% - 2%);
}

.skill[data-skill='3'] span {
    width: calc(30% - 2%);
}

.skill[data-skill='4'] span {
    width: calc(40% - 2%);
}

.skill[data-skill='5'] span {
    width: calc(50% - 2%);
}

.skill[data-skill='6'] span {
    width: calc(60% - 2%);
}

.skill[data-skill='7'] span {
    width: calc(70% - 2%);
}

.skill[data-skill='8'] span {
    width: calc(80% - 2%);
}

.skill[data-skill='9'] span {
    width: calc(90% - 2%);
}

.skill[data-skill='10'] span {
    width: calc(100% - 2%);
}

/* Media Query */

@media screen and (max-width:992px) {
    #contact {
        position: initial;
        background-color: transparent;
    }
    #contact h3 {
        display: block;
    }
    .contacts dd a {
        text-decoration: none;
        color: #ff3229;
    }
    .contacts dd {
        color: #ff3229;
    }
    .contacts dt {
        background-color: #ff3229;
    }
    header {
        padding-left: 0;
    }
    header div {
        justify-content: space-around;
    }
}

@media screen and (max-width:767px) {
    section {
        width: 100%;
    }
}

@media screen and (max-width:575px) {
    header div {
        flex-direction: column;
        align-items: center;
    }
}